<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout
                    disableAnsi="false"
                    pattern="%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue} %style{%pid}{magenta} [%15.15t] %style{%-40.40C{1.}}{cyan} : %m%n"/>
        </Console>
        <RollingFile name="APPLICATION" fileName="${basePath}/backend.log"
                     filePattern="${basePath}/backend-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout disableAnsi="false"
                           pattern="%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue} %style{%pid}{magenta} [%15.15t] %style{%-40.40C{1.}}{cyan} : %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy compressionLevel="9" fileIndex="nomax"/>
        </RollingFile>
    </Appenders>
    <Loggers>

        <Root level="ALL">
            <AppenderRef ref="CONSOLE"/>
        </Root>

        <Logger name="com.jpenacho.starwarsmoviesrepo" level="ALL">
        </Logger>

    </Loggers>
</Configuration>